.list-group-item-action:hover {
    background-color: #f7f7f7;
}

.list-group-item-action {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 20px;
}

.list-group-item-action .row {
    margin-right: 0;
    margin-left: 0;
}

.list-group-item-action .btn-link {
    font-size: 14px;
    color: #007bff;
    padding: 0;
}

.list-group-item-action .btn-link:focus, .list-group-item-action .btn-link:hover {
    color: #0056b3;
}

.list-group-item-action .collapse {
    margin-top: 10px;
}

.list-group-item-action .table thead th {
    border-top: none;
}

.list-group-item-action .table tbody tr:hover {
    background-color: #f7f7f7;
}

.list-group-item-action .table tbody td {
    vertical-align: middle;
}

.list-group-item-action p {
    margin-bottom: 5px;
}

.list-group-item-action h5 {
    margin-bottom: 10px;
}

.list-group-item-action .btn-primary {
    margin-top: 10px;
}

.list-group-item-action .btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}
