<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends 'orders/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/css/all_orders.css' %}">
{% endblock %}

{% block content %}
<div class="header-links">
    <a href="{% url 'orders' %}">Все заказы</a>
    <a href="{% url 'moderate_orders' %}">Модерация заказов</a>
</div>
<h1>Архив заказов</h1>
{% include 'orders/orders.html' %}
{% endblock %}
