{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хороший Магазин</title>
    <link rel="stylesheet" href="{% static 'orders/css/styles.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="{% static 'orders/img/logo.png' %}" alt="Логотип Хороший Магазин">
            <h1 class="header__title">Хороший Магазин</h1>
        </div>
        <div class="header__user">
            {% if user.is_authenticated %}
                <p class="header__user-fullname">{{ user.get_initials }}</p>
            {% else %}
                <a href="{% url 'login' %}" class="button">Войти</a>
            {% endif %}
            <a href="{% url 'cart' %}" class="header__cart">
                <img src="{% static 'orders/img/cart.png' %}" alt="Корзина">
            </a>
        </div>
    </header>
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer__contacts">
            <p class="footer__phone-number">+7 999 123-45-67</p>
            <a href="<https://github.com/>" class="footer__link">GitHub</a>
        </div>
        <p class="footer__text">© Хороший Магазин, 2023</p>
    </footer>
</body>
</html>
