{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хороший Магазин</title>
    <link rel="stylesheet" href="{% static 'orders/css/styles.css' %}">

    <link rel="stylesheet" href="{% static 'orders/css/popup.css' %}">

    <script src="{% static 'orders/js/popup.js' %}"></script>


    {% block head %}

    {% endblock %}
</head>
<body>
<!-- Popup window -->
    <div id="popup" class="popup">
      <div class="popup-content">
        <p>Вы действительно хотите выйти из профиля?</p>
        <button class="btn" onclick="hidePopup()">Отмена</button>
        <a href="{% url 'logout' %}" class="btn">Выйти</a>
      </div>
    </div>

    <header class="header">
        <a class="header__logo" href="{% url 'index' %}">
            <img src="{% static 'orders/img/logo.png' %}" alt="Логотип Хороший Магазин">
            <h1 class="header__title">Хороший Магазин</h1>
        </a>
        <div class="header__user">
            {% if user.is_authenticated %}
                <a href="#" onclick="showPopup()"><p class="header__user-fullname">{{ user.get_initials }}</p></a>
            {% else %}
                <a href="{% url 'login' %}" class="button expand_button">Войти</a>
            {% endif %}
            <a href="{% url 'cart' %}" class="header__cart expand_button">
                <img src="{% static 'orders/img/cart.png' %}" alt="Корзина">
            </a>
        </div>
    </header>
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer__contacts">
            <p class="footer__phone-number">+7 999 123-45-67</p>
            <a href="https://github.com/Mikan-DS/SomeStore" class="footer__link">GitHub</a>
        </div>
        <p class="footer__text">© Хороший Магазин, 2023</p>
    </footer>
</body>
<script src="{% static 'orders/js/scripts.js' %}"></script>
</html>
