{% extends 'orders/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <h1>Добро пожаловать! Хорошей работы</h1>
            <div class="buttons">
                <a href="{% url 'moderate_orders' %}" class="button">Модерировать заказы</a>
                <a href="{% url 'archive_orders' %}" class="button">Заказы в архиве</a>
                <a href="{% url 'orders' %}" class="button">Все заказы</a>
            </div>
        {% else %}
            <h1>Добро пожаловать! Хороших покупок!</h1>
            <div class="buttons">
                <a href="{% url 'my_orders' %}" class="button">Мои заказы</a>
                <a href="#" class="button">Корзина</a>
            </div>
        {% endif %}
    {% else %}
        <h1>Это шаблон сайта для работы с различными интернет магазинами</h1>
        <a href="{% url 'login' %}" class="button">Войдите в систему для продолжения</a>
    {% endif %}
{% endblock %}

<style>
  .button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #008CBA;
    color: white;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>

<script>
  // Добавление анимации для кнопок при наведении
  const buttons = document.querySelectorAll('.button');

  buttons.forEach(button => {
    button.addEventListener('mouseover', () => {
      button.style.transform = 'scale(1.1)';
    });

    button.addEventListener('mouseout', () => {
      button.style.transform = 'scale(1)';
    });
  });

</script>
