{% extends 'orders/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/css/moderate_order.css' %}">
{% endblock %}

{% block content %}

    <a href="{% url 'orders' %}#order_{{ order.pk }}">Вернуться к списку заказов</a>

    <h1>Модерирование заказа</h1>
    <h2>Заказ №{{ order.id }}</h2>
    <p>Количество товаров: {{ order.products.count }}</p>
    <p>Клиент: {{ order.user }}</p>
    <p>Общая стоимость: {{ total_price }} руб.</p>
    <p>Статус заказа: {{ order.get_status }}</p>
    <p>Дата сохранения: {{ order.saved_date }}</p>
    {% if reviewed_order %}
        <p>Дата принятия решения: {{ reviewed_order.decision_date }}</p>
        <p>Администратор: {{ reviewed_order.admin_user }}</p>
        {% if reviewed_order.rejection_reason %}
            <p>Причина отклонения: {{ reviewed_order.rejection_reason }}</p>
        {% endif %}
    {% endif %}
    <p>Комментарий: {{ order.comment }}</p>


    <form method="post">
        {% csrf_token %}
        <button type="submit" name="status" value="review">Отправить на рассмотрение</button>
        <button type="submit" name="status" value="accept">Принять</button>
        <button type="button" id="rejectButton">Отклонить</button>

        <div id="rejectReason" style="display: none;">
            <label for="reason">Причина отказа:</label>

            <input type="text" id="reason" name="reason">

            <button type="submit" name="status" value="reject">Подтвердить</button>
        </div>
    </form>


    <h3>Товары в заказе:</h3>
    {% for product in order.products.all %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                  {% if product.photo %}
                    <img class="card-img" src="{{ product.photo.url }}" alt="{{ product.name }}" style="object-fit: cover; height: 30%; width: 30%; aspect-ratio: 1 / 1; ">
                  {% else %}
                    <img class="card-img" src="{% static 'orders/img/nonimage.jpg' %}" alt="No image" style="object-fit: cover; height: 30%; width: 30%; aspect-ratio: 1 / 1; ">
                  {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Количество: {{ product.quantity }}</p>
                        <p class="card-text">Цена: {{ product.price }} руб.</p>
                        <p class="card-text">Номер позиции: {{ product.position_number }}</p>
                        <a href="{{ product.url }}" target="_blank">Перейти на страницу товара</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <script>
        document.getElementById("rejectButton").addEventListener("click", function() {
            document.getElementById("rejectReason").style.display = 'block';
        });
    </script>
{% endblock %}
