{% for order in orders %}
    <button id="order_{{ order.pk }}" onclick="location.href='{% url 'order_moderate' order.id %}'" class="order-button">
        <div class="order-summary">
            <div class="order-summary-item">
                <p>Заказ№</p>
                <p>{{ order.pk }}</p>
            </div>
            <div class="order-summary-item">
                <p>Товаров внутри:</p>
                <p>{{ order.products.count }}</p>
            </div>
            <div class="order-summary-item">
                <p>Общая стоимость:</p>
                <p>{{ order.total_price }} руб.</p>
            </div>
            <div class="order-summary-item">
                <p>Статус:</p>
                <p class="status-{{ order.get_status_tag }}">{{ order.get_status }}</p>
            </div>
            {% if order.comment %}
                <div class="order-summary-item">
                    <p>Комментарий:</p>
                    <p>{{ order.comment }}</p>
                </div>
            {% endif %}
            <div class="order-summary-item">
                <p>Дата сохранения:</p>
                <p>{{ order.saved_date }}</p>
            </div>
            <div class="order-summary-item">
                <p>Добавил:</p>
                <p>{{ order.user }}</p>
            </div>
            {% if order.reviewed_order %}
                <div class="order-summary-item">
                    <p>Дата принятия решения:</p>
                    <p>{{ order.reviewed_order.decision_date }}</p>
                </div>
                <div class="order-summary-item">
                    <p>Админ:</p>
                    <p>{{ order.reviewed_order.admin_user }}</p>
                </div>
                {% if order.reviewed_order.rejection_reason %}
                    <div class="order-summary-item">
                        <p>Причина отклонения:</p>
                        <p>{{ order.reviewed_order.rejection_reason }}</p>
                    </div>
                {% endif %}

            {% endif %}

        </div>
    </button>
{% endfor %}