{% extends 'orders/base.html' %}
{% load static %}

{% block content %}

  <div class="row justify-content-center align-items-center mt-5">
    <div class="col col-md-4">
      <h1 class="text-center mb-4">Регистрация</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
      </form>
      <div class="text-center mt-3">
        <a href="{% url 'login' %}">Зарегистрированы? Войдите в профиль</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/css/register.css' %}">
{% endblock %}
